@import 'base.scss'
@import 'https://blahaj.land/static/data/css/colors.css'

html
  scroll-behavior: smooth

body
  margin: 0
  font-family: 'Noto IKEA', serif
  font-size: 0.9em
  color: var(--text)

#app
  display: flex
  flex-direction: row
  align-content: stretch
  justify-content: stretch
  height: 100vh